@charset "UTF-8";

:root {
    --azul-claro: #D6E3EE;
    --azul-marinho: #40576B;
    --azul: #8DBFEB;
    --azul-medio: #6E95B8;

    --fonte-padrao: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--fonte-padrao);
}

body {
    /* colocar centralizado */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    background-color: black;
    background-image: url(../imagens/foto-fundo.jpg);
    background-size: cover;
}

header {
    font-size: 20px;
    text-align: center;
    padding: 15px;
    color: var(--azul-claro);
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    
    background-color: var(--azul-claro);
    min-width: 300px;
    max-width: 1200px;
    margin: 15px;
    margin-bottom: 30px;
    padding: 15px 20px;
    border-radius: 50px;
    font-size: 20px;
}

main > div > h2 {
    text-align: center;
    color: var(--azul-marinho);
    padding: 10px;
    margin: 5px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.400);
}

div.foto-perfil {
    display: flex;
    justify-content: center;
    margin: 0 auto;

    max-width: 50%;
    padding: 10px;

    transition: transform 0.3s ease-in-out;
}

div.foto-perfil:hover {
    transform: scale(1.1);
}

div.container {
    text-align: justify;
    line-height: 1.6em;
    margin: 15px;
    padding: 15px 20px;
}

nav {
    text-align: center;
    color: var(--azul-marinho);
    padding: 10px;
}

nav > h2 {
    padding: 15px 20px;
    margin: 5px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.400);
}

nav > p {
    padding: 15px 20px;
}

nav > p > a {
    text-decoration: none;
    margin-left: 5px;
    color: var(--azul-medio);
}


nav > p > a:hover {
    color: var(--azul);
    text-decoration: underline;
}

footer {
    color: var(--azul-claro);
    padding: 20px;
    margin: 15px;
    text-align: center;
}